<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/header') %>
  </head>
  <body>
    <!-- <%- include ('../partials/nav') %> -->
    <div class="text-center">
      <div class="container">
        <a href="#" class="lang-logo">
          <img src="#" />
        </a>
        <h1>Bienvenidos</h1>
        <p>
          Examen Construccion
        </p>
        <hr/>
      </div>
    </div>
    <%- include ('../partials/foot') %>
  </body>
</html>
